html{
    font-size:62.5%;
    box-sizing:border-box;
    }
    body{
    margin:0;
    padding:0;
    height:100vh;
    
    }

a{
    text-decoration:none;
    }
    ul li{
    margin:0;
    padding:0;
    list-style:none;
    }
   



#root{
height:100%;

}
#paymentMethod{
border:1rem solid blue;
background-color:#203040;
}
    
   .grid-container{
    display:grid;
    grid-template-areas:
    "header"
    "main"
    "footer";
    grid-template-columns:1fr;
    grid-template-rows:5rem 1fr 5rem;
    height:100%;
    }
    
    .header{
    grid-area:header;
    }
    
 
    
    .main{
    grid-area:main;
    
    }
    
    .footer{
    grid-area:footer;
    }



.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#203040;
    color:white;
    
}


.footer{

background-color:#203040;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
}



    .brand a{
    color:white;
    text-decoration:none;
    font-size:2.5rem;
    }
    .header-link a{
    color:white;
    text-decoration:none;
    font-size:2.5rem;
    margin-right:2rem;
    }
    .header-link a:hover{
    color:#ff8000;
    }
    .brand a:hover{
    color:#ff8000;
    }
    
    .sidebar{
    top:0;
    position:fixed;
    transform:translateX(-25rem);
    background-color:#808080;
    width:25rem;
    height:100%;
    transition:2.0s;
    }
    .sidebar.open{
    transform:translateX(0);
    }
    .close{
    position:absolute;
    top:0;
    right:0;
    margin:1rem;
    background-color:#707070;
    padding:1rem;
    text-align:center;
    border-radius:100%;
    color:#ffffff;
    }
.humbar{
   border:none;
   background-color:transparent;
   margin:0;
   font-size:25px;
   padding:5px 10px;
   color:#ffffff;
   }

/*usermenu*/
.user-menu{
    top:5rem;
    right:0;
    position:fixed;
    transform:translateX(25rem);
    background-color:#808080;
    width:25rem;
    height:auto;
    border-radius:.1rem;
    transition:2.0s;
}
.user-menu h2{
    text-align:center;
    text-transform:uppercase;
    color:rgba(676,776,78, red);
    }

.uClose{
    position:absolute;
    top:0;
    right:0;
    margin:1rem;
    background-color:#707070;
    padding:1rem;
    text-align:center;
    border-radius:100%;
    color:#ffffff;
    }
    

.uImg{
   display:flex;
   justify-content:space-between;
   align-items:center;
   width:5rem;
   height:5rem;
   border:.2rem solid #f0f0f0;
   border-radius:50%;
   }
   
    .uImg img{
   
   width:5rem;
   height:5rem;
   border:.2rem solid #f0f0f0;
   border-radius:50%;
   }

  .user-menu .btn{
   display:flex;
   flex-direction:column;
   text-align:center;
   
}

   
   



    







    






.button{
padding:1rem;
border:.1rem solid #808080;
border-radius:.5rem;
cursor:pointer;
}

.button:hover{
border:.1rem solid #404040;

}

.button.primary{
background-color:#f0c040;

}

.button.secondary{
background-color:#f0f080;

}
.text-center{
text-align:center;

}



/*home css*/
a:hover{
    color:#ff8000;
    }
   .products{
   display:flex;
   justify-content:center;
   align-items:center;
   flex-wrap:wrap;
   }
  .products li{
  flex:0 1 34rem;
  list-style:none;
  padding:0;
  margin:1rem;
  height:50rem;
  border-bottom:.1rem #c0c0c0 solid;
  }
 .product{
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 height:100%;
 }
 .product-name{
 font-size:2rem;
 }
 .product-brand{
 font-size:1.2rem;
 color:#808080;
 }
 .price{
 font-size:2.2rem;
 font-weight:bold;
 }
 .product-rating{
 margin-bottom:1rem;
 }
 
 .product-image{
 max-width:34rem;
 max-height:34rem;
 }








   /* form */
.form{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;

}
    
.form-container{
display:flex;
flex-direction:column;
width:32rem;
padding:2rem;
border:.1rem solid #f0f0f0;
border-radius:.5rem;

}

.form-container li{
display:flex;
flex-direction:column;
margin-bottom:1rem;

}


input{
padding:1rem;
border:.1rem solid #C0C0C0;
border-radius:.5rem;

}



/* checkout step */

  .checkout-steps{
    display:flex;
    justify-content:space-between;
    width:40rem;
    margin:1rem auto;
}

.checkout-steps > div{
 border-top:.3rem #c0c0c0 solid;
 color:#c0c0c0;
}


.checkout-steps > div.active{
 border-top:.3rem #f08080 solid;
 color:#f08080;
 flex: 1 1;
 padding-top:1rem;
}

/*cart css*/
.cart{
   display:flex;
   flext-wrap:wrap;
   margin:1rem;
   align-items:flex-start;
   }
  .cart-list{
  flex:3 1 60rem;
  }
  
 .cart-action{
 flext:1 1 20rem;
 background-color:#f0f0f0;
 border-radius:.5rem;
 padding:1rem;
 }
 
.cart-list-container{
padding:0;
list-style:none;
padding:1rem;
}
.cart-list-container li{
display:flex;
justify-content:space-between;
align-items:flex-end;
padding-bottom:1rem;
margin-bottom:1rem;
border-bottom:.1rem solid #c0c0c0;
}

.cart-list-container li img{
max-width:10rem;
max-height:10rem;
}


.cart-list-container li:first-child{
display:flex;
justify-content:space-between;
align-items:flex-end;
}

.cart-image{
flex:1 1;
}

.cart-name{
flex:8 1;
}

.cart-price{
flex:1 1;
text-align:right;
}


/*place order*/
.place-order{
display:flex;
justify-content:space-between;
flex-grow:wrap;
padding:1rem;

}

.place-order-info{
flex:3 1 60rem;
padding:1rem;
}

.placeOrder-action{
flex:1 1 20rem;
border:.1rem #c0c0c0 solid;
border-radius:.5rem;
background-color:#fcfcfc;
padding:1rem;
}

.place-order-info >div{
border:.1rem #c0c0c0 solid;
border-radius:.5rem;
background-color:#fcfcfc;
padding:1rem;
margin:1rem;
}

.placeOrder-action ul{
padding:0;
list-style-type:none;
}

.placeOrder-action li{
display:flex;
justify-content:space-between;
}
.placeOrder-action > ul > li:last-child{
font-size:2rem;
font-weight:bold;
color:#c04000;
}


/*product- list css*/
.product-header{
display:flex;
justify-content:space-between;
align-items:flex-start;

}

.content-margined{
margin:1rem;
}

.table{
width:100%;
}
th{
text-align:left;
}
tbody>tr:nth-child(odd){
background-color:#f0f0f0;

}
.product-list{
display:flex;
flex-wrap:wrap;

}



/*details css*/
 .details{
   display:flex;
   justify-content:space-between;
   align-items:flex-start;
   flex-wrap:wrap;
   }
 
 .details-image{
   flex:2 1 40rem;
   
   }
    .details-image img{
   width:40rem;
   height:100%;
   
   }
   

    .details-info{
   flex:1 1 10rem;
   
   }
    .details-action{
   flex:1 1 25rem;
   
   }
   
  .details-info ul, .details-action ul{
  list-style:none;
  padding:0;
  }
  
  .details-info li, .details-action li{
  margin-bottom:1rem;
  }
 .back-to-result{
 padding:1rem;
 }
 
.details-action{
border:.1rem solid #808080;
border-radius:.5rem;
background-color:#f8f8f8;
padding:1rem;
}

.details-action ul li:last-child{
display:flex;
flex-direction:column;
}

.button{
padding:1rem;
border:.1rem solid #808080;
border-radius:.5rem;
cursor:pointer;
}
.button.hover{
border:.1rem solid #404040;
}


/*profile css*/
.profile-page{
    display:flex;
    justify-content:space-between;
    align-items:center;
    
    
}

.profile{
flex:2 1 20rem;
}

.user-orders{
flex:2 1 30rem;
}